#main-content {
  margin-left: 25px;
  margin-bottom: 60px;
}
body {
    margin: 0;
    padding: 3px;
    font-family: Arial, Helvetica, sans-serif;
    font-size:  12pt;
}
.charities {
  list-style-type: circle;
}
.charities a {
  text-decoration: underline;
}
.product p {
  padding-left: 10px;
  padding-right: 7px;
}
.product a, h4 {
  text-align: center;
}

.charlist a {
  color: black;
  text-align: left;
  padding: 0px;
  display: inline;
}
ul {
  margin: 0;
  padding: 0;
  overflow: hidden;
  list-style-type: none;
  background-color: white;
  border-bottom: 1px solid black;
}

li {
  float: left;
}

li a {
  color: black;
  text-align: center;
  padding: 15px;
  margin-right: 5px;
  margin-bottom: 3px;
  text-decoration: none;
  display: block;
}

li a:hover:not(#active_tab):not(#cart) {
  background-color: rgb(214, 214, 214);
  border-radius: 3px;
}

#active_tab {
    border-radius: 3px;
    background-color: #b3b3b3;
    margin-right: 3px;
}
.logo {
    height: 50px;
    margin-right: 4px;
    cursor: pointer;
}
.content {
    margin: 0 auto;
    text-align: center;
    margin-top: 6px;
}
.mapimg {
    border: 2px solid black; border-radius: 8px; height: 450px;
}
.product {
    font-size: 11pt;
    border: 2px solid black; border-radius: 8px;  width: 180px;
    margin-right: 32px;
    transition: transform .2s;
}
.product:hover {
  transform: scale(1.05);
}
.prodimg {
    border-radius: 7px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom: 2px solid black;
}
.products {
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer {
    height: 33px;
    margin: 0; 
    padding-left: 15px;
    bottom: 0;
    position:relative;
    width: 96%;
    color: black;
    text-align: center;
}
#count {
    font-size: 9pt;
    float: right;
}
.productdiv {
  font-size: 14pt;
  border: 1px solid black;
  height: 272px;
  width: 94%;
  margin: auto;
  margin-left: 0px;
  border-radius: 5px;
  padding: 12px;
  padding-left: 25px;
  margin-top: 29px;
  padding-bottom: 50px;
}
.cartdiv {
  font-size: 14pt;
  border: 1px solid black;
  height: 100%;
  width: 94%;
  margin: auto;
  margin-left: 0px;
  border-radius: 5px;
  padding: 12px;
  padding-left: 25px;
  margin-top: 29px;
  padding-bottom: 55px;
}

select {
  height: 30px;
  width: 93px;
  border: 1px solid black;
  font-size: 13pt;
}
.priceusd {
  margin-bottom: 5px;
}
.addcart {
  position: absolute;
  height: 65px;
  width: 140px;
  color: white;
  border: 2px solid black;
  border-radius: 6px;
  background: green;
  top: 318px;
  outline: none;
  font-size: 16pt;
}
.addcart:hover {
  background: darkgreen;
}
.removecart, .checkout {
  height: 65px;
  width: 140px;
  color: white;
  border: 2px solid black;
  border-radius: 6px;
  background: rgb(197, 9, 9);
  outline: none;
  font-size: 16pt;
}

.totals {
  display: inline;
}
.checkout {
  background: green;
  margin-top: -100px;
  position: absolute;
  top: 100px;
  right: 150px;
  width: 163px;
}
.cartcontrols {
  position: relative;
  margin-right: 25px;
  float: right;
  margin-top: 18px;
}
.removecart:hover {
  background: darkred;
}
.checkout:hover {
  background: darkgreen;
}
.description {

}
.details {
  margin-top: 25px;
  margin-left: 225px;
}

.pimg {
  float: left;
  height: 205px;
}


.cimg {
  float: left;
  height: 205px;
}